@model PI4_Inleveropdracht_Web_application.Models.Applicatie

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Applicatie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.naam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.naam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.beschrijving)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beschrijving)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.taal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.taal)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicatieId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
